*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body{
     height: 100vh;
     background-image: url('logo3.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     font-family: Arial, sans-serif;
 }
 .content{
     color: white;
     text-align: center;
     padding-top: 200px;
 }

 h1{
     font-size: 50px;
 }

 p{
     font-size: 20px;
 }